<!-- $Id: topic_list.htm 14441 2008-04-18 03:09:11Z zhuwenyuan $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,sucailisttable.js"}
<form method="POST" action="" name="listForm">
<!-- start user_bonus list -->
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th width="13%">
        <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
        <a href="javascript:listTable.sort('topic_id'); ">{$lang.record_id}</a>{$sort_topic_id}</th>
      <th width="26%"><a href="javascript:listTable.sort('title'); ">发布者</a>{$sort_title}</th>
      <th width="26%"><a href="javascript:listTable.sort('sucai_content'); ">内容</a>{$sort_title}</th>
      <th width="">{$lang.handler}</th>
    </tr>
    {foreach from=$talk_sucai_list item=talk_sucai}
    <tr>
      <td><span><input value="{$talk_sucai.sucai_id}" name="checkboxs[]" type="checkbox">{$talk_sucai.talk_id}</span></td>
      
      <td>{$talk_sucai.sucai_user_name}</td>
      
      <td>{$talk_sucai.sucai_content}</td>
      <td align="center"><a href="../index.php?c=talk&talk_id={$talk_sucai.sucai_id}" title="{$lang.view}" target="_blank">{$lang.view}</a>    <a href="sucai.php?act=edit&sucai_id={$talk_sucai.sucai_id}" title="{$lang.edit}">{$lang.edit}</a>
      <a href="javascript:;" on title="{$lang.drop}" onclick="listTable.remove({$talk_sucai.sucai_id},"确定删除么",'delete');">{$lang.drop}</a>

      <!-- <a href="flashplay.php?act=add&ad_link={$topic.url}" title="{$lang.publish_to_player}" >{$lang.publish_to_player}</a> -->
    </td>
   
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td><input type="submit" name="drop" id="btnSubmit" value="{$lang.drop}" class="button" disabled="true" />
      </td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end user_bonus list -->
</form>

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query";

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    document.forms['listForm'].reset();
  }
  document.getElementById("deleteid").onclick = function()
  {
    if (confirm("确定删除么"))
    {
 
      document.forms["listForm"].action = "sucai.php?act=delete";
      return;
    }
    else
    {
      return false;
    }
  }
  
  document.getElementById("btnSubmit").onclick = function()
  {
    if (confirm(delete_talk_sucai_confirm))
    {
      alert(333);
      document.forms["listForm"].action = "sucai.php?act=delete";
      return;
    }
    else
    {
      return false;
    }
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}